<div class="parent-container">
    <a href="/" class="item item-1">Home</a>
    <a href="/about" class="item item-2">About</a>
    <a href="/help" class="item item-3">Help</a>
    <a href="/form" class="item item-4">Sign Up</a>
</div>